.khung {
    height: 350px;
    width: 285px;
    border: solid 1px silver;
    display: block;
}
.display {
    height: 30px;
    width: 255px;
    margin-left: 15px;
    margin-top: 25px;
    border: solid 1px silver;
    text-align: right;
}
.button {
    height: 40px;
    width: 50px;
    margin-left: 15px;
    margin-top: 15px;
}
